body {
  padding: 0px 40px 0px 40px;
  font-family: sans-serif;
}

#navbar {
  position: fixed;
  background-color: white;
  display: flex;
  width: 90%;
  padding-top: 25px;
  margin-top: -15px;
  z-index: 1;
  padding-right: 15px;
}

#menu {
  margin-left: 50px;
  float: left;
  overflow: hidden;
  width: 90px;
}

#logo {
  height: 40px;
  overflow: hidden;
  width: 350px;
  margin-top: -5px;
}

#logoImage {
  width: 80px;
  height: 40px;
}

#textBox {
  font-size: 20px;
  overflow: hidden;
  justify-content: center;
  width: 70%;
}

#inputText {
  font-size: 14pt;
}

#search {
  height: 30px;
  float: left;
  overflow: hidden;
  width: 20%;
}

#searchButton {
  background-color: transparent;
  border: solid gray 2px;
}

#searchIcon {
  height: 20px;
}

#upLoad {
  overflow: hidden;
  width: 100px;
}

#signIn {
  overflow: hidden;
  width: 100px;
}

#camera {
  overflow: hidden;
  width: 80px;
  margin-top: 2px;
}

#nineDotIcon {
  overflow: hidden;
  width: 80px;
  margin-top: 3px;
}

#ring {
  overflow: hidden;
  width: 80px;
  background-color: white;
  margin-top: 1px;
}

#profilIcon {
  overflow: hidden;
  width: 80px;
  margin-top: 2px;  
}

#profilImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#main {
  display: flex;
}

#video {
  background-color: white;
  float: left;
  width: 65%;
  height: auto;
  overflow: hidden;
  margin: 0 20px 0 10px;
}

#videoLink {
  width: 100%;
  height: 550px;
  border: 0;
}

#nameVideo {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20pt;
}

.publisher {
  padding-top: 10px;
  margin-left: 10px;
  display: flex;

}

#userIcon {
  overflow: hidden;
  padding-left: 2px;
  padding-right: 10px;
  width: 53px;
}

.subscribeTab {
  width: 80%;
}

#nameAuthor {
  padding-top: 3px;
  padding-left: 6px;
}

#subscribe {
  padding-top: 7px;
  background-color: transparent;
  width: auto;
  border: none;
}

#view {
  color: gray;
  font-size: 14pt;
  padding-top: 30px;
  width: 170px;
  flex-direction: column;
  border-bottom: solid darkblue 2px;
  margin-bottom: -12px;
}

#infoBar {
  display: flex;
  margin-top: 10px;
  border-top: solid gray 2px;
  margin-left: 10px;
}


#likeBar {
  margin-top: 7px;
  height: 20px;
  display: flex;
  width: 100%;
}

.likeBarElement {
  height: auto;
  font-size: 12px;
  color: gray;
}

.buttonAll {
  display: flex;
  background-color: transparent;
  border: none;
  height: 20px;
  width: 120px;
}

#threeDotButton {
  width: 100%;
}

#likeButton, #unlikeButton{
  padding-top: 9px;
  margin-top: -9px;
}


.description {
  color: gray;
  width: 95%;
  margin-left: 10px;
  
}

h2.description {

}

#sidebar {
  background-color: white;
  overflow: hidden;
  width: 30%;
  min-width: 300px;

}

#nextBar {
  display: flex;
  margin-top: 5px;
}

#nextText {
  font-size: 20px;
  overflow: hidden;
  width: 70%;
}

#autoplay {
  font-size: 18px;
  overflow: hidden;
  width: 20%;
}

#autoplayButton {
  margin-top: -10px;
  overflow: hidden;
  height: 50px;
}

.suggestionElement {
  display: flex;
  height: 100px;
}

.sugImage {
  overflow: hidden;
  width: 168px;
}

.sugProperites {
  font-size: 10px;
  width: 50%;
  overflow: hidden;
}

.sugName {
  font-size: 14px;
}

.sugAuthor {
  font-size: 13px;
  color: gray;
}

.sugView {
  font-size: 13px;
  color: gray;
}

.more {
  padding-top: 10px;
  padding-bottom: 10px;
  position: center;
  color: gray;
  border-top:solid gray 1px;
  margin-top:10px;
  font-size: 10pt;
}

footer{
  margin-top: 300px;
  background-color: white;
}
